* {margin:0; padding:0; box-sizing:border-box;}

.headimg>img {
  width:100%;
}
.productList {
  display:flex;
  flex-wrap:wrap;
  text-align:center;
}
.productList>div {
  width:calc(100% / 3 - 20px);
  margin:10px;
}
.productList img {
  width:100%;
}
.list_con {
  width:30%;
  margin:auto;
  text-align:center;
}
.list_con img {
    width:100%;
}
